{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "&front": "./src",
          "&shared": "./../shared"
        }
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ]
  ],
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ]
}