.app {
  display: grid;

  grid-template:
    'outcome income '
    'history history'
    'stats   stats  '
    / 1fr 1fr;

  align-items: end;
  gap: 16px;
  padding: 24px;

  @media (max-width: 576px) {
    grid-template:
      'outcome'
      'income'
      'history'
      'stats';
  }
}

.income {
  grid-area: income;
  justify-self: start;

  max-width: 500px;

  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    justify-self: stretch;
  }
}

.outcome {
  grid-area: outcome;

  justify-self: end;
  max-width: 500px;

  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    justify-self: stretch;
  }
}

.history {
  grid-area: history;
  justify-self: center;

  min-width: 1016px;

  @media (max-width: 1064px) {
    min-width: 100%;
  }

  @media (max-width: 576px) {
    justify-self: stretch;
  }
}
