.app {
  display: grid;

  grid-template:
    'outcome income '
    'stats   stats  '
    'history history'
    / 1fr 1fr;

  align-items: end;
  gap: 16px;

  @media (max-width: 576px) {
    grid-template:
      'outcome'
      'income'
      'stats'
      'history';
  }
}

.income {
  grid-area: income;
  justify-self: stretch;

  min-width: 100%;
}

.outcome {
  grid-area: outcome;
  justify-self: stretch;

  min-width: 100%;
}

.history {
  grid-area: history;
  justify-self: stretch;

  min-width: 100%;
}

.stats {
  grid-area: stats;
  justify-self: stretch;

  min-width: 100%;
}
