.form {
  display: grid;

  grid-template:
    'amount  currency'
    'comment comment '
    'date    kind    '
    'submit  submit  '
    / 2fr minmax(200px, 1fr);

  @media (max-width: 768px) {
    grid-template:
      'amount'
      'currency'
      'comment'
      'date'
      'kind'
      'submit';
  }

  align-items: end;
  gap: 16px;
}

.input {
  width: 100%;
}

.amount {
  grid-area: amount;
}

.comment {
  grid-area: comment;
}

.date {
  grid-area: date;
}

.currency {
  grid-area: currency;
}

.kind {
  grid-area: kind;
}

.submit {
  grid-area: submit;
}
