.statistics {
  display: grid;

  grid-template:
    'header header'
    'aside  charts'
    'aside  charts'
    'aside  charts'
    / 1fr 2fr;

  gap: 16px;

  @media (max-width: 768px) {
    grid-template:
      'header'
      'aside'
      'charts';
  }
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.charts {
  grid-area: charts;
}
