.statistics {
  display: grid;

  grid-template:
    'aside  charts'
    'aside  charts'
    'aside  charts'
    / 1fr 2fr;

  gap: 16px;

  @media (max-width: 1024px) {
    grid-template:
      'aside  charts'
      'aside  charts'
      'aside  charts'
      / 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template:
      'aside'
      'charts';
  }
}

.aside {
  grid-area: aside;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.charts {
  grid-area: charts;

  & > * {
    max-height: 40vh;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
}
