.categories {
  display: grid;

  grid-template:
    'aside  chart'
    / 1fr 2fr;

  gap: 16px;

  @media (max-width: 1024px) {
    grid-template:
      'aside  chart'
      / 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template:
      'aside'
      'chart';
  }
}

.chart {
  grid-area: chart;

  & > * {
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.aside {
  grid-area: aside;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
