.container {
  display: grid;

  grid-template:
    'message message' 100px
    'sign-in sign-up' 1fr;

  align-items: center;
  justify-content: space-eventaly;
  justify-items: center;
  width: 100vw;
  height: 100vh;

  & > * {
    min-width: 350px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    grid-template:
      'message'
      'sign-in'
      'sign-up';
  }
}

.message {
  grid-area: message;
  text-align: center;
}

.signIn {
  grid-area: sign-in;
}

.signUp {
  grid-area: sign-up;
}
