{
  "extends": ["stylelint-config-recommended", "stylelint-config-recess-order"],
  "plugins": [
		"stylelint-order",
    "stylelint-value-no-exposed-custom-properties"
	],
  "rules": {
    "plugin/value-no-exposed-custom-properties": [true, {
      "importFrom": [
        "src/ui/config.css"
      ]
    }]
  }
}
