.dataSet {
  display: grid;

  grid-template:
    'outcomes incomes'
    / 1fr 1fr;

  @media (max-width: 576px) {
    grid-template:
      'outcomes'
      'incomes';
  }

  gap: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.outcomes {
  grid-area: outcomes;
}

.incomes {
  grid-area: incomes;
}
