.form {
  display: grid;

  grid-template:
    'title     title  '
    'content   content'
    'link      expire '
    'important submit '
    / 1fr 1fr;

  @media (max-width: 768px) {
    grid-template:
      'title'
      'content'
      'link'
      'expire'
      'important'
      'submit';
  }

  align-items: end;
  gap: 16px;

  & > *:nth-child(1) {
    grid-area: title;
  }

  & > *:nth-child(2) {
    grid-area: content;
  }

  & > *:nth-child(3) {
    grid-area: link;
  }

  & > *:nth-child(4) {
    grid-area: expire;
  }

  & > *:nth-child(5) {
    grid-area: important;
    align-self: center;
  }

  & > *:nth-child(6) {
    grid-area: submit;
  }
}
