.header {
  display: flex;
  align-items: flex-end;
  padding-top: 8px;
  padding-bottom: 8px;

  & > * {
    margin-right: 16px;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: stretch;

    & > *:not(:first-child) {
      margin-top: 16px;
      margin-right: 0px;
    }
  }
}

.title {
  margin-bottom: 0px;
}
