.app {
  display: grid;

  grid-template:
    'nav     nav'
    'create  now'
    'history now'
    / 1fr 1fr;

  align-items: end;
  gap: 16px;

  @media (max-width: 576px) {
    grid-template:
      'nav'
      'create'
      'now'
      'history';
  }
}

.create {
  grid-area: create;
  justify-self: stretch;

  min-width: 100%;
}

.history {
  grid-area: history;
  justify-self: stretch;

  min-width: 100%;
}

.nav {
  grid-area: nav;
  justify-self: stretch;

  min-width: 100%;
}

.now {
  grid-area: now;
  align-self: start;
  justify-self: stretch;

  min-width: 100%;
}
