.history {
  display: grid;

  grid-template:
    'incomes outcomes'
    / 1fr 1fr;

  gap: 16px;

  @media (max-width: 768px) {
    grid-template:
      'incomes'
      'outcomes'
      / 1fr;
  }

  height: calc(100vh - 97px);
  overflow: scroll;
}

.tabs {
  height: calc(100vh - 97px);
}

.incomes {
  grid-area: incomes;
}

.outcomes {
  grid-area: outcomes;
}
